.FormContainer {
    position: static;
    display: inline;
    margin-bottom: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
    width: 350px;
    .error {
      font-size: 13px;
      color: #bf0b0b;
    }
  }