
// Button
$btn-color-1: #000;
$btn-color-2: #fff; // 미정
$btn-background-1: #00c7af;
$btn-background-2: #00c7af;

$bg-color-1: #fff; 
$bg-color-2: #232323; // 미정
$text-color-1: #000; // 미정
$text-color-2: #fff; // 미정