@import '../../../sass/abstracts/mixins';
@import '../../../main.scss';

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.main {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    
    .SignUpForm {
        flex-direction: column;
        text-align: center;
        border: 0.0625rem solid #f2f2f2;
        border-radius: 8px;
        width: 414px;
        padding: 35px;
        margin-top: 40px;
        margin-bottom: 40px;
        background-color: #F7CFCF;

        .signup__btn {
            text-align: center;
            display: flex;
            flex-direction: row;

            &__prev {
                color: #737377;
                margin-top: 15px;
            }
        }
    }
}



.modal__text {
    margin-bottom: 20px;
}