@import '../../../sass/abstracts/mixins';
@import '../../../main.scss';
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .top {
    text-align: start;
    color: #fffdfd;
    margin: 0;
    width: 100%;
    padding: 40px;
    background-color: #D25959;
    flex-direction: column;

    .h1 {
      display: flex;
      padding-left: 55px;
      background-color: #D25959;
      width: 500px;
      justify-content: center;
      align-items: center;
      font-size: 2em;
    }

    .btext {
      margin-top: 10px;
      padding-left: 220px;
      background-color: #737373;
    }
  }
  .post {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #D25959;
    border-radius: 8px;
    width: 70%;
    margin-top: 10px;

    .row {
        display: flex;
        justify-content: center;
        font-size: xx-large;
        font-weight: 800;
        width: 100%;
        height: 80px;
        margin-top: 40px;
        margin-bottom: 0px;
        border-bottom: 1px solid #D25959;

        .button {
            display: flex;
            justify-content: right;
        }
    }

    .info {
        display: table;
        table-layout: fixed;
        text-align: center;
        line-height: 30px;
        
        .line {
            margin-right: 30px;
            border: 1px solid #fffdfd;
        }
    }

    .content {
        margin-top: 30px;
        height: 300px;
    }
}

  }