@import '../../../sass/abstracts/mixins';
@import '../../../main.scss';


.Button{
  position: absolute;
  border: 1px solid #f7fe92;
  border-radius: 8px;
  background-color: #f7fe92;
  float: right;
  margin: 50px;
  top: 0;
  justify-content: space-between;
  flex-direction: column;
}

.Button2{
  position: absolute;
  border: 1px solid #f7fe92;
  border-radius: 8px;
  background-color: #f7fe92;
  float: right;
  top: 110px;
  margin: 50px;
  justify-content: space-between;
  flex-direction: column;
}