@import '../../../sass/abstracts/mixins';
@import '../../../main.scss';


.button{
  display: flex;
  float: right;
  margin: 50px;
  padding-top: 10px;
  top: 0;
  margin-bottom: 150px;
  justify-content: space-between;
  flex-direction: column;


}

.image {
  width: 200px;
  height: 200px;
  margin-top: 20px;

  &:hover {
    background-color: white;
		cursor: pointer;
    top: -180px;
    left: -40px;
		&:after {
			top: -180px;
			left: -40px;
		}
  }
}

