@import '../../sass/abstracts/mixins';
@import '../../main.scss';

// 반응형 테스트 : 색 바꾸기
.MainPage {
  background-color: rgb(255, 255, 255);
  display: flex;
  padding-left: 15%;
  width: 35%;
  margin: 55px auto;
  margin-right: 100px;
  float: left;

}

.Button {
  display: flex;
  position: absolute;
  padding-left: 0%;
  width: 0%;
  float: right;
  left: 60%;
  bottom: 0;
  top: 50px;
  margin: 80px auto;
}

@include tablet {
  .MainPage {
    // background-color: yellow;
    width: 90%;
    margin: 80px auto;
  }
}

@include mobile {
  .MainPage {
    // background-color: green;
    width: 90%;
    margin: 20px auto;
  }
}