@import '../../sass/abstracts/mixins';
@import '../../main.scss';

.Sidebar__background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(171, 171, 171, 0.554);
}
.Sidebar {
  border-left: 1px solid rgb(205, 205, 205);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  height: 100%;
  width: 250px;
  &__CloseIcon {
    // border: 1px solid yellow;
    svg {
      // border: 1px solid black;
      position: relative;
      top: 10px;
      left: 100px;
      width: 21px;
      height: 21px;
      cursor: pointer;
    }
  }
  &__content {
    // border: 1px solid black;
    height: 30%;
    width: 90%;
    position: relative;
    top: 50px;
    left: 12px;
    text-align: left;
    &__letter1 {
      font-size: 1rem;
      font-weight: bold;
      a {
        color: black;
      }
    }
    &__letter2 {
      margin-top: 14px;
      font-size: 0.7rem;
      color: #737373;
      a {
        color: #737373;
      }
    }
    &__line {
      margin-top: 15px;
      hr {
        height: 0.5px;
        border: 0;
        background-color: grey;
      }
    }
    &__letter3 {
      margin-top: 20px;
      font-size: 0.7rem;
      font-weight: bold;
      cursor: pointer;
      a {
        color: black;
      }
    }
  }
}