@import '../../sass/abstracts/mixins';
@import '../../main.scss';
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.Container {
    padding-top: 100px;
    margin-bottom: 100px;
}

.AnalyzeFrame {
    margin-left: 10px;
    padding: 40px 30px;
    text-align: center;
    background-color: #F7CFCF;
    border-radius: 30px;
    line-height: 190%;
}

.inputTable {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0 auto;
    margin-top: 10px;
    .input {
        font-family: 'NanumSquareNeo-Variable';
        padding: 6px;
        margin-left: 8px;
        border: none;
        border-radius: 4px;
        background-color: lightgrey;
    }
}

.td {
    padding: 4px;
    vertical-align: bottom;
}